# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weatherdf = pd.read_csv("weatherdata.csv")

In [3]:
weatherdf.head(15)

,city_id,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,faanui,21,PF,1570153552,80,-16.48,-151.75,298.836,7.25
1,1,ushuaia,40,AR,1570153588,98,-54.81,-68.31,281.150,8.20
2,2,mahebourg,16,MU,1570153633,65,-20.41,57.70,295.370,0.45
3,3,chuy,100,UY,1570153622,87,-33.69,-53.46,286.906,7.90
4,4,oriximina,63,BR,1570153765,68,-1.77,-55.87,300.156,2.04
5,5,mataura,100,NZ,1570153540,58,-46.19,168.86,289.820,5.81
6,6,butaritari,100,KI,1570153692,76,3.07,172.79,300.376,4.61
7,7,padang,94,ID,1570153555,83,-0.92,100.36,298.706,4.44
8,8,port elizabeth,90,US,1570153768,93,39.31,-74.98,294.820,1.50
9,9,ribnitz-damgarten,75,DE,1570153768,93,54.24,12.43,280.150,4.06
10,10,bredasdorp,94,ZA,1570153656,67,-34.53,20.04,287.150,5.10
11,11,busselton,75,AU,1570153540,63,-33.64,115.35,288.710,11.93
12,12,kapaa,75,US,1570153770,70,22.08,-159.32,304.150,9.30
13,13,san andres,0,PH,1570153771,55,13.32,122.68,304.656,1.40
14,14,el alto,75,BO,1570153654,75,-16.50,-68.19,279.150,5.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
locations = weatherdf[["Lat","Lng"]]
temp = weatherdf["Humidity"]

In [5]:
fig = gmaps.figure()
heatmaplayer = gmaps.heatmap_layer(locations,weights= temp)
fig.add_layer(heatmaplayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
mintemp = float(input("What min temp?"))
maxtemp = float(input("What max temp?"))

newweather = weatherdf.loc[(weatherdf["Max Temp"]<=maxtemp + 273)&(weatherdf["Max Temp"]>=mintemp + 273)]

What min temp?22
What max temp?35

In [7]:
newweather.head()

,city_id,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,faanui,21,PF,1570153552,80,-16.48,-151.75,298.836,7.25
2,2,mahebourg,16,MU,1570153633,65,-20.41,57.70,295.370,0.45
4,4,oriximina,63,BR,1570153765,68,-1.77,-55.87,300.156,2.04
6,6,butaritari,100,KI,1570153692,76,3.07,172.79,300.376,4.61
7,7,padang,94,ID,1570153555,83,-0.92,100.36,298.706,4.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = newweather[["City","Lat","Lng","Max Temp"]].copy()
hotel_df["Hotel Name"]= ""

hotel_df.head()

         City    Lat     Lng  Max Temp Hotel Name
0      faanui -16.48 -151.75   298.836
2   mahebourg -20.41   57.70   295.370
4   oriximina  -1.77  -55.87   300.156
6  butaritari   3.07  172.79   300.376
7      padang  -0.92  100.36   298.706

In [14]:
params = {
    "radius":15000,"type":"lodging","key":g_key
}


for index,row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["Location"]=f"{lat},{lng}"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(url,params=params).json()
    #try: 
    #hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    #except(IndexError):
        #print("Hotel not found")

In [13]:
hotel_df.head()

         City    Lat     Lng  Max Temp Hotel Name
0      faanui -16.48 -151.75   298.836
2   mahebourg -20.41   57.70   295.370
4   oriximina  -1.77  -55.87   300.156
6  butaritari   3.07  172.79   300.376
7      padang  -0.92  100.36   298.706

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map